# For loop

In [2]:
for i in range(1,11):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4
10 1
10 2
10 3
10 4

In [3]:
for i in range(1,11):
    print("2 x ",i," = ",2*i,"\n")

2 x  1  =  2

2 x  2  =  4

2 x  3  =  6

2 x  4  =  8

2 x  5  =  10

2 x  6  =  12

2 x  7  =  14

2 x  8  =  16

2 x  9  =  18

2 x  10  =  20

In [4]:
var1 = int(input("Enter no. of tables required: "))
for i in range(1,11):
    print("\n")
    for j in range(1,var1+1):
        print(j, "x", i, "=", j*i, end= "\t")

Enter no. of tables required: 2


1 x 1 = 1	2 x 1 = 2

1 x 2 = 2	2 x 2 = 4

1 x 3 = 3	2 x 3 = 6

1 x 4 = 4	2 x 4 = 8

1 x 5 = 5	2 x 5 = 10

1 x 6 = 6	2 x 6 = 12

1 x 7 = 7	2 x 7 = 14

1 x 8 = 8	2 x 8 = 16

1 x 9 = 9	2 x 9 = 18

1 x 10 = 10	2 x 10 = 20

In [5]:
var1 = int(input("Enter no. of tables required: "))
for j in range(1,var1+1):
    for i in range(1,11):
        print(j, "x", i, "=", j*i, "\n")

Enter no. of tables required: 2
1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

2 x 4 = 8

2 x 5 = 10

2 x 6 = 12

2 x 7 = 14

2 x 8 = 16

2 x 9 = 18

2 x 10 = 20

# While loop

In [6]:
i = 0
while(i< 10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

# Dictionary
##### Dictionary is an unordered collection of key-value pairs. Dictionaries are used to handle large amount of data.
##### When you are dealing with unique keys and you are mapping values to the keys, use Dictionary.

In [2]:
data = { "name": "Ali",
       "marks":85,
       "age":21,
       "class":"3rd year"}
print(data["name"])

Ali

In [4]:
print(data)

{'name': 'Ali', 'marks': 85, 'age': 21, 'class': '3rd year'}

In [5]:
data.clear() # to remove or empty dictionary

In [6]:
print(data)

{}

In [7]:
data["school"]="islamabad"
name = input("enter name")
data["name"]=name
print(data)

enter nameshiza
{'school': 'islamabad', 'name': 'shiza'}

In [9]:
data = {}
name= input("enter name")
age = int(input("enter age"))
data["name"]=name
data["age"]=age
print(data)

enter nameiqra
enter age23
{'name': 'iqra', 'age': 23}

# Input multiple values from user and convert to list

In [12]:
skills = input("enter your skills: ")
print(skills.split(","))

enter your skills: c#,C++,python
['c#', 'C++', 'python']

# Using fromkeys method
##### fromkeys method is used to create keys for an empty dictionary with None or given values

In [13]:
data = {}
data.fromkeys(["name","age","class"])

{'name': None, 'age': None, 'class': None}

In [15]:
data["name"]="Ali"
data

{'name': 'Ali'}

# Enter keys from user by entering key name and separating with comma then use split() function and they fromkeys() funcion

In [19]:
keys = input("key names :")
keys = keys.split(",")
data.fromkeys(keys)

key names :name,age

{'name': None, 'age': None}

In [21]:
data["name"]="maria"
data["age"]=24
data

{'name': 'maria', 'age': 24}

# using get() function to get value of a key

In [22]:
data.get("name")

'maria'

# using items, keys and value functions

In [24]:
data.items()

dict_items([('name', 'maria'), ('age', 24)])

In [25]:
data.keys()

dict_keys(['name', 'age'])

In [26]:
data.values()

dict_values(['maria', 24])

# using pop and popitem

In [27]:
data.pop("name")
data

{'age': 24}

In [28]:
data = { "name": "Ali",
       "marks":85,
       "age":21,
       "class":"3rd year"}
data.popitem() # will delete last item in dict

('class', '3rd year')

In [29]:
print(data)

{'name': 'Ali', 'marks': 85, 'age': 21}

In [31]:
data.setdefault("class") # it will either return value of key or add it to dict if it doesnt exist
data

{'name': 'Ali', 'marks': 85, 'age': 21, 'class': None}

In [33]:
data.update({'age': 7})
data

{'name': 'Ali', 'marks': 85, 'age': 7, 'class': None}

In [34]:
data_new = data.copy()
data["school"]="islamabad"
print(data)
print(data_new)

{'name': 'Ali', 'marks': 85, 'age': 7, 'class': None, 'school': 'islamabad'}
{'name': 'Ali', 'marks': 85, 'age': 7, 'class': None}

In [37]:

l1 = [
    # 0    1
    ["a", 1, 5],
    # 0    1
    ["e", 4, 8],
    # 0   1
    ["b", 3, 9],
    ["d", 5, 2],
    ["c", 2, 6]
]
l1

[['a', 1, 5], ['e', 4, 8], ['b', 3, 9], ['d', 5, 2], ['c', 2, 6]]

In [40]:
sorted(l1)

[['a', 1, 5], ['b', 3, 9], ['c', 2, 6], ['d', 5, 2], ['e', 4, 8]]

In [41]:
sorted(l1, reverse=True)

[['e', 4, 8], ['d', 5, 2], ['c', 2, 6], ['b', 3, 9], ['a', 1, 5]]

In [43]:
l1.sort(key=lambda l1:l1[1])
print(l1)

[['a', 1, 5], ['c', 2, 6], ['b', 3, 9], ['e', 4, 8], ['d', 5, 2]]

# Convert list to dictionary
###### You can convert 2D list with key value pair to a dictionary using dict keyword

In [44]:
l2 = [
        ["a", 1],
        ["c", 2],
        ["b", 3],
        ["e", 4],
        ["d", 5]
]


dict(l2)

{'a': 1, 'c': 2, 'b': 3, 'e': 4, 'd': 5}

In [45]:
# assign list to dict
data["skills"] = ["python", "java"]
data

{'name': 'Ali',
 'marks': 85,
 'age': 7,
 'class': None,
 'school': 'islamabad',
 'skills': ['python', 'java']}

In [3]:
list1 = []
data = {}
answer = 'y'
while(answer !='n'):
    name = input("enter name :")
    email = input("enter email :")
    Class = input("enter class :")
    stuData ={ "name" :name,
               "email" : email,
               "class" :Class
            }
    list1.append(stuData)
    answer = input("y/n:")
print(list1)

enter name :shiza
enter email :shiza@gmail.com
enter class :5
y/n:y
enter name :iqra
enter email :iqra@gmail.com
enter class :6
y/n:n
[{'name': 'shiza', 'email': 'shiza@gmail.com', 'class': '5'}, {'name': 'iqra', 'email': 'iqra@gmail.com', 'class': '6'}]

In [4]:
list1 = []
data = {}
answer = 'y'
while(answer !='n'):
     stuData ={ "name" :input("enter name :"),
               "email" : input("enter name :"),
               "class" :input("enter name :")
            }
    list1.append(stuData)
    answer = input("y/n:")
print(list1)

enter name :shiza
enter name :shiza@gmail.com
enter name :4
y/n:n
[{'name': 'shiza', 'email': 'shiza@gmail.com', 'class': '4'}]