# Arithmatic operators
  #### + (Addition)
  ####  - (Subtraction)
  ####  * (Multiplication)
  ####  / (Division)

In [1]:
#ADDITION

In [2]:
a = 2 
b = 3
c= a+b
print(c)

5

In [3]:
# string concatenation
a = "Apple"
b = "Ball"
res = a+b 
print(res)

AppleBall

In [4]:
# Append two lists
list1 = ["shiza","Hammad"]
list2 = ["maria", "iqra" ]
l = list1+list2
print(l)

['shiza', 'Hammad', 'maria', 'iqra']

In [5]:
#SUBTRACTION

In [6]:
a = 4
b = 8
c = a-b
print(c)

-4

In [7]:
# for intersection
set1 = { "1", "2", "C", "B","A", "D"}
set2 = {"A"}
res = set1-set2
print(res)

{'B', 'C', '1', '2', 'D'}

In [8]:
#MULTIPLICATION

In [9]:
a = 3
b = 7
res = a*b
print(res)

21

In [10]:
#string multiplication with integers
str1 = "A"
mul = 3
res = str1*mul
print(res)

AAA

In [11]:
# string multiplication with list
list = ["a", "b"]
list1 = list *3
print(list1)
tuple = ("ab", "ba")
t = tuple *2
print(t)

['a', 'b', 'a', 'b', 'a', 'b']
('ab', 'ba', 'ab', 'ba')

In [12]:
#DIVISION

In [13]:
a=11
b=4
res = a/b
print(res)

2.75

In [14]:
#for removing float values after division
r1 = a//b
print(r1)

2

In [15]:
#MODULUS(%)

In [16]:
a = 11
b=4
res = a%b 
print(res) # returns remainder after dividing

3

In [17]:
# power of n^n
a = 3
b = 3
res = a**b
print(res)

27

In [18]:
# string power gives error
str2 =  "A"
cal = str2**2
print(cal)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Comparison (Relational operators)
###### ==
###### < >
###### >=
###### <=
###### !=

In [ ]:
print(2 == 2)

In [ ]:
print("A"=="a")

In [ ]:
print("A" > "B")

In [ ]:
print(5>=5)

In [ ]:
#ASCII
# A = 65-------- Z=90
# a= 97--------- z=122

In [ ]:
print(ord("a")) # returns unicode point of the string character

In [ ]:
print(chr(97))
print(chr(65))
print(chr(90))
print(chr(122))

# Assignment operators
###### =   +=  -=   *=   /=    //=   **=    %=

In [ ]:
a= 2
a= 3
a+=1 # 3+1=4
a+=2 # 4+2=6
a+=3 # 6+3=9
a+=4 # 9+4=13
print(a)

In [ ]:
a=100
a-=5   #100-5=95
a-=10   #95-10=85
a-=40   #85-40=45
print(a)

In [ ]:
a=100
a//=2     #100/2=50
a//=10    #50/10=5
print(a)

In [ ]:
a=2
a**=2  # 2^2=2*2=4
a**=3  # 4^3=4*4*4= 64
print(a)

In [ ]:
a= "A"
a+="B"
print(a)

In [ ]:
a= [1,2,3] #list
a+=[5,6]
print(a)

In [ ]:
a=(3,4,2) #tuple
a+=(9,7)
print(a)

# Logical operators
###### & and      | or        ! not

In [ ]:
print(True and True)
print(True and False)
print((3==3)&(4==4))

In [ ]:
user = input("Enter username:")
pw = input("Enter password:")
if(user=="admin") & (pw=="123"):
    print("Login successful!")
else:
    print("incorrect username or password")

In [ ]:
print(False or True)
print(True or True)
print((3==4) | (3==3))

In [ ]:
u = input("Enter username:")
pw = input("Enter password:")
if((u=="admin")or(u=="admin1")or(u=="admin2")&(pw=="123")):
    print("Login successful")
else:
    print("incorrect username or password")

In [ ]:
print(not(True))

# Bitwise operators
##### (AND) &     | (OR)      ~ (NOT)     ^ (XOR)   >> (right shift)   << (left shift)

In [ ]:
a= 18   #10010
b=2    #00010
print(a & b) # Apply AND operation after converting to bits and then back to decimal

In [ ]:
# XOR
print(a ^ b) # 1 if a=1 & b=0 and "0 if a=1 and b=1 or a=0 and b=0"

In [ ]:
a=10    #1010
print(a>>2)
print(a<<2)
a=12
print(a>>2)
print(a<<2)

# membership operators 
####  in             not in

In [24]:
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 
if ( x not in list ): 
    print("x is NOT present in given list")
else: 
    print("x is  present in given list")

x is NOT present in given list

In [25]:
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 

if ( y in list ): 
    print("y is present in given list")
else: 
    print("y is NOT present in given list")

y is present in given list

# Identity operator
#### is                
#### is not

In [28]:
a= '5'
b =5
c=a
print(a is b)
print(a is c)
print(id(a)==id(c))

False
True
True