# "print" built in function

In [1]:
print("Hello,World!")

Hello,World!

In [4]:
print(2)
print('2')

2
2

# Creating String Variables

In [17]:
name = "shiza"
# triple quotes can be used for muliple lines of string
name1 = """my name is
shiza hammad""" 
print(name)
print(name1)

shiza
my name is
shiza hammad

In [16]:
name = "iqra"
name = "shiza"
father_name = "Hammad Saleem"
university = "Arid"
print("Name is:", name)
print("Father name is :", father_name)
print("University:",university)

Name is: shiza
Father name is : Hammad Saleem
University: Arid

# Variables for numbers

In [13]:
weight = 25
multiplier = 2.5
print(weight*2.5)

62.5

In [18]:
number = 12
new_num = number + 25
print(new_num)

37

In [21]:
num1 = 23
num2 = 10
num = num1 + num2
print(num)

33

# Math expressions : Familiar operators

In [23]:
loss = 12 -24
print(loss)
dozens = 2 * 12
print(dozens)

-12
24